.env
__pycache__/
*.pyc
.qoder/
.vscode/
.cache/
.cursor/
nul
image/
data/*
.gradio
docs/*
logs/*
storage/*
node_modules/
package-lock.json
package.json
.github/instructions/环境.instructions.md
bool
str
List[str]
